{% extends "base.html" %} {% block content %}
<div class="container py-4 ">
    <div class="card w-50 mx-auto">
        <div class="card-header">
            <div class="input-group">
                <label class="input-group-text" for="template-selector">Select</label>
                <select class="form-select" id="template-selector">
                    <option selected value="matrix">Matrix</option>
                    <option value="systems">Systems</option>
                </select>
            </div>
        </div>
        <div class="card-body" id="template-container">

        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/uploadSelect.js') }}" type="text/javascript"></script>
{% endblock %}